@page
@model IndexModel
@{
    ViewData["Programas de tarea :D"] = "Programas de Tarea";
}

<div class="text-center">
    <h1 class="display-4">Programas en Razor</h1>
    <p>Git: <a href="https://github.com/OsvaldoRuiz622">Mas de mis trabajos a un click</a>.</p>
</div>
