@page
@model Programas_Tarea.Pages.inidice_masa_muscularModel
@{
    ViewData["IMC"] = "Indice Masa Muscular ";
}
<div class="text-center">
    <h1 class="display-8">Indice de Masa Muscular .</h1>



</div>

<h1>@ViewData["Indice de masa muscular"]</h1>

<form method="post">
    <div>
        <label for="peso">Peso (kg):</label>
        <input type="text" id="peso" name="peso" asp-for="Peso" />
    </div>
    <div>
        <label for="altura">Altura (m):</label>
        <input type="text" id="altura" name="altura" asp-for="Altura" />
    </div>
    <div>
        <input type="submit" value="Calcular Indice de Masa Muscular" />
    </div>
</form>

@if (Model.Resultado != null)
{
    <div>
        <p>IMC: @Model.Resultado</p>
        <p>@Model.Mensaje</p>
    </div>
}